@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family:'Quicksand';
    background-color: rgba(211, 204, 204, 0.308);
    line-height: 1.4;
    color: rgb(15, 1, 1);
    width:600px;
    margin:auto;
    background-image: url(car.jpg);
   
}


#title{
    text-align: center;
    color: white;

}

#description{
    text-align: center;
    color: rgb(247, 238, 238);
    
}


form{
    background: #c4d1d6;
    padding: 2.5rem 2.5rem;
    border-radius: 1.5rem;
    width: 550px;
    margin:auto;
}

.submit-button{
    width: 100%;
    padding: 0.5rem;
    color:black;
    cursor:pointer;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 0.5rem;
    border-color: white;

}

.text-area{
    width: 300px;
    height: 90px;
}

.input-headings{
    margin: 0 auto 1.25rem auto;
    padding:0.25rem;

}
.form-input{
    display:block;
    width:100%;
    height:2.2rem;
    background-color: #ffff;
    border-color: rgb(250, 250, 242);
    border-radius: 0.4rem;

}

.text-bold{
    font-weight: bold;
}

@media (max-width: 400px) {
    .survey-form {
      display: flex;
      flex-direction: column;}
    }

    form > label {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;}

